{{ define "start" }}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#ffffff">
    <title>Tweetics</title>

    <link rel="shortcut icon" href="/static/assets/images/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/assets/images/favicon/favicon.ico" type="image/x-icon">

    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Barlow:500,600,700,800|Montserrat:700&display=swap" rel="stylesheet">
    <link href="https://cdn.materialdesignicons.com/4.5.95/css/materialdesignicons.min.css" rel="stylesheet">

    <link href="/static/assets/css/styles.css" rel="stylesheet"/>
</head>
<body>
{{ end }}